.__AC_position {
   background-image:    url(pointer.gif);
   background-position: center top;
   background-repeat:   no-repeat;
   color:               #000000;
   font-family:         Arial;
   font-size:           11px;
   padding-top:         11px;
   position:            absolute;
}

.__AC_layer {
   background-color: #F7ECCF;
   border-radius:    4px;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   position:         relative;
   padding:          15px 0px 10px 10px;
}

.__AC_data {
   max-height:    200px;
   overflow-y:    auto;
   padding-right: 10px;
}

.__AC_close {
   background-image: url(close.gif);
   cursor:           pointer;
   height:           11px;
   position:         absolute;
   right:            2px;
   top:              13px;
   width:            11px;
   z-index:          1;
}

.__AC_data div {
   padding: 2px;
}

.__AC_data div:hover, .__AC_keyhover, .__AC_ie8HoverFix {
   background-color: #F1851B;
   cursor:           pointer;
   color:            #ffffff;
}

input.__AC_invalidated {
   background-color: #EBEBE9;
   color:            #99A1AA;
   background-image: url(invalidated.gif);
   background-position: right;
   background-repeat:   no-repeat;
}

input.__AC_editing {
   background-color: #F7ECCF;
   color:            #D95E28;
   background-image: url(editing.gif);
   background-position: right;
   background-repeat: no-repeat;
}

input.__AC_validating {
   background-color: #F7ECCF;
   color:            #D95E28;
   background-image: url(validating.gif);
   background-position: right;
   background-repeat: no-repeat;
}

input.__AC_validated {
   background-color: #EDF4D8;
   color:            #42443F;
   background-image: url(validated.gif);
   background-position: right;
   background-repeat: no-repeat;
}

input.__AC_freetext {
   background-color: #ECEDE1;
   color:            #3F3F3F;
}
